body {
  background-color: #030303;
  color: #D7DADC;
  font-family: 'Lexend+Deca', sans-serif;
}

a {
  color: #D7DADC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
}

iframe {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr))
}

.model {
  background-color: #1A1A1B;
  border-style: solid;
  border-width: 1px;
  border-color: #343536;
  border-radius: 5px;
  padding: 12px;
  margin: 4px;
}

.preview, .liveview {
  width: 100%;
  aspect-ratio: 16/9;
}
